<div class="row">
    <div class="col-12">
        <ul class="list-group p-0">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">EFS Toulouse Purpan</h5>
                    <small>0.5 L</small>
                </div>
                <p class="mb-1">
                    13/03/2018
                </p>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">EFS Toulouse Purpan</h5>
                    <small>0.5 L</small>
                </div>
                <p class="mb-1">
                    22/03/2018
                </p>
            </li>
        </ul>
    </div>
</div>