<div class="row jusitify-content-center">
    <div class="col-sm-5 col-12 offset-sm-1 col-12">
        <span>Nom d'utilisateur:</span>
        <span>Noh'Lokra</span>
    </div>
    <div class="col-sm-6 col-12">
        <span>Adresse email:</span>
        <span>pierrick.couget@gmail.com</span>
    </div>
</div>
<hr/>
<div class="row jusitify-content-center">
    <div class="col-sm-5 col-12 offset-sm-1 col-12">
        <span>Mot-de-passe:</span>
        <span>********</span>
    </div>
    <div class="col-sm-6 col-12">
        <span>Dernière modification:</span>
        <span>22/03/2018 à 18h24</span>
    </div>
</div>
<hr/>
<div class="row jusitify-content-center">
    <div class="col-sm-5 col-12 offset-sm-1 col-12">
        <span>Centre de collecte principal:</span>
        <span>EFS Toulouse Purpan</span>
    </div>
    <div class="col-sm-6 col-12">
        <input type="checkbox"/> Je souhaite être informé des collectes près de chez moi
    </div>
</div>
<hr/>
<div class="row jusitify-content-center">
    <div class="col-sm-5 col-12 offset-sm-1 col-12">
        <span>Lien de parrainage:</span>
        <span><a href="http://www.efs.fr/parrainage/nohlokra">http://www.efs.fr/parrainage/nohlokra</a></span>
    </div>
    <div class="col-sm-6 col-12">
    </div>
</div>