<div class="row">
    <div class="col-12">
        <ul class="list-group p-0">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">EFS Toulouse Purpan</h5>
                    <small>3.5 Km</small>
                </div>
                <p class="mb-1">
                    Hôpital de Purpan, Avenue de Grande Bretagne
                    <br/> 31027 Toulouse
                </p>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">EFS Toulouse Plateau Technique</h5>
                    <small>3.7 Km</small>
                </div>
                <p class="mb-1">
                    75 Rue de Lisieux
                    <br/> 31300 Toulouse
                </p>
            </li>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">EFS Toulouse Jean-Jaures</h5>
                    <small>12 Km</small>
                </div>
                <p class="mb-1">
                    15 Allée Jean Jaurès
                    <br/> 31000 Toulouse
                </p>
            </li>
        </ul>
    </div>
</div>